.alternative-is-correct {
  background-color: var(--success-color);
}

.alternative-is-wrong {
  background-color: var(--danger-color);
}

.asset-section {
  padding-top: 20px;
  width: 100%;
}

img.img-asset {
  max-width: 100%;
  width: 80%;
  height: auto;
  border-radius: 10px;
}


